*{
    padding: 0px;
    margin: 0px;
    border-radius: border-box;
}

.container{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 30px;
    background-color: white;

}
.box{
    width: 200px;
    height: 200px;
    border:2px solid black ;
    background-color: green;
    
}
h2{
    display: flex;
    align-items: center;
    
}